!.gitignore
env.yaml
.code
.idea
tmp
mergeInto*.sh
# Binaries for programs and plugins
main
ctb
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.bin
/release/

*.dat

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Development enviroment
.idea/*
uploads/*
temp

/statik/

/vendor/

/node_modules/
/watermark